lib/python3.11/site-packages
bin
pyvenv.cfg
lib64
something.py
venv
src/__pycache__
.vscode
view_slots_example.py
src/calendars/__pycache__
src/configure/__pycache__
credentials.json
quickstart.py
token.json
dates.csv
src/booking_system/data/calendar_data.json
src/booking_system/bookings/__pycache__/
src/booking_system/calendars/__pycache__/*